.DS_Store
/Jeopardy/target/classes/org/example
/Jeopardy/target/classes
/Jeopardy/target
/Jeopardy/target/maven-status/maven-compiler-plugin/compile/default-compile
/Jeopardy/src/main/resources/wiki-subset-20140602
/venv
Jeopardy/target/classes/org/example/App.class
